/* Şifre Yenileme Formu */
#change-password-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#change-password-form h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-size: 16px;
    margin-bottom: 8px;
    display: block;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group input:focus {
    border-color: #001f3f;
    outline: none;
}

#password-requirements {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

#password-requirements li {
    font-size: 14px;
    color: #888;
    margin: 5px 0;
    transition: color 0.3s ease;
}

#password-requirements li.valid {
    color: #28a745; /* Yeşil */
}

#password-requirements li.invalid {
    color: #dc3545; /* Kırmızı */
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #001f3f;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Responsive Tasarım */
@media (max-width: 768px) {
    #change-password-form {
        padding: 15px;
    }
   
}

/* Modal stili */
.modal {
    display: none; /* Başlangıçta gizli */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease-in-out;
}

.success-icon {
    font-size: 50px;
    color: green;
    margin-bottom: 10px;
}

button#close-modal {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button#close-modal:hover {
    background-color: darkgreen;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

