/* Filtreler */
.filters {
    margin: 20px 0;
}

.filter-category {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.filter {
    margin-bottom: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #ffffff;
    color: #333;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 180px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover, 
.dropdown-content a:focus {
    background-color: #001f3f;
    color: white;
}

/* Ürünler */
.products {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.product {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    width: 220px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product h3 {
    margin: 10px 0;
    font-size: 18px;
}

.product p {
    font-size: 16px;
    color: #555;
}

.product-icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.product-icons img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.2s;
}

.product-icons img:hover {
    transform: scale(1.2);
}

/* Genel Ayarlar */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #333;
}


/* Responsive Ayarlar */
@media (max-width: 768px) {
    .filter-category {
        flex-direction: column; /* Filtreler dikey bir düzen alır */
        align-items: center;
    }

    .dropbtn {
        width: 100%; /* Düğmelerin genişliği mobil cihazda tam genişlik olur */
        text-align: left; /* Metni sola hizalar */
    }

    .dropdown-content {
        min-width: 100%; /* İçerik genişliği düğme genişliğine uyum sağlar */
    }
}

@media (max-width: 480px) {
    .dropbtn {
        font-size: 14px; /* Daha küçük ekranlar için yazı boyutunu küçültür */
        padding: 8px 15px; /* Düğme iç boşluklarını küçültür */
    }
}